*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    font-size: large;
    font-weight: 600;

}

form{
    width: 70%;
}

input, select{
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    
}

.form-body{
display: flex;
flex-direction: column;
align-items: center;
padding: 8rem calc((100vw - 1300px)/2);

}

.form-container{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ececec;
    height: 100%;
    padding: 50px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.233);
}

.submit{
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit{
    margin-top: 13px;
    background-color: #87dd8a;
    color: white;
    transition: background-color 0.3s ease;
}

.submit:hover{
    background-color: #87dd8a7e;
}

.done-container {
    position: absolute;
    top: 14px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.done{
    padding: 5px 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.151);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.delete-icon{
    width: 20px;
    height: 16px;
  }

.done:hover{
    background-color: rgba(0, 0, 0, 0.089);
}